h1 {
  text-align: center;
  margin: 30px;
  font-weight: 600;
  font-size: 50px;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 0.7259278711484594) 0%,
    rgba(252, 70, 107, 0.7287289915966386) 70%
  );
}
