h1 {
  font-weight: 600;
  font-size: 50px;
}

h1,
footer {
  text-align: center;
  margin: 30px;
  color: white;
}

.center {
  text-align: center;
}

.truncate {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-toggle {
  cursor: grabbing;
}

.editButton {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 0.7259278711484594) 0%,
    rgba(252, 70, 107, 0.7287289915966386) 70%
  );
}

.alert {
  text-align: center;
}
