.badge-primary {
  background-color: lightpink;
}
.badge-success {
  background-color: lightgreen;
}

.badge-warning {
  background-color: paleturquoise;
}

.btn-primary {
  background-color: lightseagreen;
  border: lightseagreen;
}

.btn-secondary {
  background-color: lightslategrey;
  border: lightslategray;
}
